<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>684952442106-evbf1dmd5r5k3nom48fsd9o1cpbolvu3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.684952442106-evbf1dmd5r5k3nom48fsd9o1cpbolvu3</string>
	<key>API_KEY</key>
	<string>AIzaSyD7RYqQ3FuGaO2rzeRMogUdapExylgM_KY</string>
	<key>GCM_SENDER_ID</key>
	<string>684952442106</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterForm</string>
	<key>PROJECT_ID</key>
	<string>teste-cloud-2122e</string>
	<key>STORAGE_BUCKET</key>
	<string>teste-cloud-2122e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:684952442106:ios:91fea75cda87328cc8e543</string>
</dict>
</plist>